{% extends "base.html" %}

{% block title %}All Users{% endblock %}

{% block content %}
  <h1 class="page-title">All Users</h1>

  <div class="container">
    <div class="row">
      {% for user in users %}
        <div class="col-md-4 mb-4">
          <div class="user-card">
            <div class="card-body">
              <div class="user-icon">
                <i class="fas fa-user-circle user-icon"></i>
              </div>
              <div class="user-info">
                <h2>{{ user.username }}</h2>
                <p><strong>Favorite Sport:</strong><br>{{ user.favourite_sport }}</p>
                <p><strong>Favorite Team:</strong><br>{{ user.favourite_team }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}