{% extends "base.html" %}

{% block title %}Football{% endblock %}

{% block content %}

<div class = "post-title">
<h1 class="display-4">Football</h1>
</div>

<img class = "post-image" src="/static/images/football.jpg" alt="Football">


<div class = "post-text">
  <p>Let other fans know what you're thinking, post a post on your chosen football memory below. </p>
</div>
<form method="POST">
  <div class="row">
    <div class="col">
      <textarea name="post" id="post" class="form-control"></textarea>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Add Post</button>
    </div>
  </div>
  <input type="hidden" name="sport" value="football">
</form>

<ul class="list-group" id="posts">
  {% for post in posts %}
  <li class="list-group-item">
    {{ post.data }}
    
    <div class="post-actions">
        {% if post.user_id == current_user.id %}
            <button type="button" class="btn btn-primary" onclick="showEditPostForm('{{ post.id }}')">Edit</button>
            <button type="button" class="btn btn-danger" onClick="deletePost('{{ post.id }}')">Delete</button>
        {% endif %}
    </div>

    <small>Added by: {{ post.user.username }} on {{ post.date.strftime('%Y-%m-%d %H:%M:%S') }}</small>

    <div id="edit-post-form-{{ post.id }}" class="edit-post-form" style="display: none;">
        <form onsubmit="event.preventDefault(); saveEditedPost('{{ post.id }}');">
            <input type="text" name="text" value="{{ post.data }}">
            <button type="submit">Save</button>
        </form>
    </div>
  </li>
  {% endfor %}
</ul>


{% endblock %}
