{% extends "base.html" %}

{% block title %}Formula 1{% endblock %}

{% block content %}
<h1 class="display-4">Formula 1 Reviews</h1>

<ul class="list-group" id="reviews">
  {% for review in reviews %}
  <li class="list-group-item">
    {{ review.data }}
    
    {% if review.user_id == current_user.id %}
        <button type="button" class="btn btn-primary" onclick="showEditReviewForm('{{ review.id }}')">Edit</button>
        <button type="button" class="btn-close" onClick="deleteReview('{{ review.id }}')"></button>
    {% endif %}

    <small>Added by: {{ review.user.username }} on {{ review.date.strftime('%Y-%m-%d %H:%M:%S') }}</small>

    <div id="edit-review-form-{{ review.id }}" class="edit-review-form" style="display: none;">
        <form onsubmit="event.preventDefault(); saveEditedReview('{{ review.id }}');">
            <input type="text" name="text" value="{{ review.data }}">
            <button type="submit">Save</button>
        </form>
    </div>
  </li>
  {% endfor %}
</ul>

<form method="POST">
  <div class="row">
    <div class="col">
      <textarea name="review" id="review" class="form-control"></textarea>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Add Review</button>
    </div>
  </div>
  <input type="hidden" name="sport" value="formula1">
</form>

{% endblock %}
