{% extends "base.html" %}

{% block title %}Suport dashboard{% endblock %}

{% block content %}

<div class="intro-text">
    <div>
        <h1 class="overview-title">Welcome to Sup<i class="fa-regular fa-futbol"></i>rt</h1>
    </div>
<div>
    <p>Interacting with other fans about the sports you love</p>
</div>
<div>
    <p class="sport-choice-text">Choose your sport below and start posting!</p>
</div>
</div>
<div class="background">
    <div id="overview-sports-carousel" class="carousel slide d-lg-none" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{{ url_for('views.football') }}">
                    <img src="/static/images/football.jpg" class="d-block w-100" alt="Football">
                    <div class="carousel-caption">
                        <h5>Football</h5>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('views.formula1') }}">
                    <img src="/static/images/formula1.jpg" class="d-block w-100" alt="Formula 1">
                    <div class="carousel-caption">
                        <h5>Formula 1</h5>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('views.rugby') }}">
                    <img src="/static/images/rugby.jpg" class="d-block w-100" alt="Rugby">
                    <div class="carousel-caption">
                        <h5>Rugby</h5>
                    </div>
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#overview-sports-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#overview-sports-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!---Inspired by Atheros-->
    <div class="gallery">
        <div class="card">
            <figure>
                <a href="{{ url_for('views.football') }}">
                    <img src="/static/images/football.jpg" alt="Football">
                </a>
            </figure>
            <div class="tooltip"><h5>Football</h5></div>
        </div>
        <div class="card">
            <figure>
                <a href="{{ url_for('views.formula1') }}">
                    <img src="/static/images/formula1.jpg" alt="Preview">
                </a>
            </figure>
            <div class="tooltip"><h5>Formula 1</h5></div>
        </div>
        <div class="card">
            <figure>
                <a href="{{ url_for('views.rugby') }}">
                    <img src="/static/images/rugby.jpg" alt="Preview">
                </a>
            </figure>
            <div class="tooltip"><h5>Rugby</h5></div>
        </div>
        </div>
        <!---end of inspired by Atheros-->
        {% if not current_user.is_authenticated %}
        <div class="buttons">
            <a href="{{ url_for('auth.login') }}" class="my-form-button">Login</a>
            <a href="{{ url_for('auth.sign_up') }}" class="my-form-button">Sign Up</a>
        </div>
    {% endif %}
    </div>          
</div>

{% endblock %}