{% extends "base.html" %}

{% block title %}Overview{% endblock %}

{% block content %}

<div class="intro-text">
    <div>
        <h1>Welcome to Sup<i class="fa-regular fa-futbol"></i>rt</h1>
    </div>
<div>
    <p>Interacting with other fans about the sports you love</p>
</div>
</div>

<div class="background">
    <div class="gallery">
        <div class="card">
            <figure>
                <a href="{{ url_for('views.football') }}">
                    <img src="/static/images/football.jpg" alt="Football">
                </a>
                <figcaption>Football</figcaption>
            </figure>
        </div>
        <div class="card">
            <figure>
                <a href="{{ url_for('views.formula1') }}">
                    <img src="/static/images/formula1.jpg" alt="Preview">
                </a>
            </figure>
        </div>
        <div class="card">
            <figure>
                <a href="{{ url_for('views.rugby') }}">
                    <img src="/static/images/rugby.jpg" alt="Preview">
                </a>
            </figure>
        </div>
        </div>
        {% if not current_user.is_authenticated %}
        <div class="buttons">
            <a href="{{ url_for('auth.login') }}" class="my-form__button">Login</a>
            <a href="{{ url_for('auth.sign_up') }}" class="my-form__button">Sign Up</a>
        </div>
    {% endif %}
    </div>          
</div>

{% endblock %}