{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
  <div class="profile-content">
    <div class="profile-info">
      <h1><i class="fa-solid fa-user"></i> Profile Info</h1>
      <div class="profile-info-body">
<div class="profile-bio">
  <h2>Your Bio</h2>
  <p>{{ user.bio }}</p>
  <button class="my-form-button profile-button" data-field="bio">Edit Bio</button>
  <form method="POST" action="/edit_bio" class="edit-field" data-field="bio" style="display: none;">
      <input class ="edit-bio-field" type="text" name="bio" value="{{ user.bio }}" maxlength="500" >
      <div class="edit-field-buttons">
        <button class="my-form-button profile-button" type="submit">Save</button>
        <button class="my-form-button profile-button cancel-button">Cancel</button>
    </div>
  </form>
</div>
<div class="profile-fav-sport">
  <h2>Your Favourite Sport</h2>
  <p>{{ user.favourite_sport }}</p>
  <button class="my-form-button profile-button" data-field="favourite_sport">Edit Favourite Sport</button>
  <form method="POST" action="/edit_favourite_sport" class="edit-field" data-field="favourite_sport" style="display: none;">
      <input class ="edit-field" type="text" name="favourite_sport" value="{{ user.favourite_sport }}">
      <div class="edit-field-buttons">
        <button class="my-form-button profile-button" type="submit">Save</button>
        <button class="my-form-button profile-button cancel-button">Cancel</button>
    </div>
  </form>
</div>
<div class="profile-fav-team">
  <h2>Your Favourite Team</h2>
  <p>{{ user.favourite_team }}</p>
  <button class="my-form-button profile-button" data-field="favourite_team">Edit Favourite Team</button>
  <form method="POST" action="/edit_favourite_team" class="edit-field" data-field="favourite_team" style="display: none;">
      <input class ="edit-field" type="text" name="favourite_team" value="{{ user.favourite_team }}">
      <div class="edit-field-buttons">
        <button class="my-form-button profile-button" type="submit">Save</button>
        <button class="my-form-button profile-button cancel-button">Cancel</button>
    </div>
  </form>
</div>
</div>
</div>
<div class ="user-content">
  <h1><i class="fa-solid fa-pen-to-square"></i> Profile Content</h1>
  <div class="profile-content-body">
<div class="profile-posts">
  <h2>Your Posts</h2>
  <ul>
    {% for post in user.posts %}
      <li>
        {{ post.data }}
        <br>
        Posted on: {{ post.date.strftime("%Y-%m-%d %H:%M:%S") }}
      </li>
    {% endfor %}
  </ul>
</div>
<div class="profile-comments">
  <h2>Your Comments</h2>
  <ul>
    {% for comment in user.comments %}
      <li>
        {{ comment.content }}
        <br>
        Commented on: {{ comment.date.strftime("%Y-%m-%d %H:%M:%S") }}
      </li>
    {% endfor %}
  </ul>
</div>
</div>
</div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='script.js') }}"></script> 
{% endblock %}