{% extends "base.html" %}

{% block title %}Rugby{% endblock %}

{% block content %}
<div class="post-title">
  <h1 class="display-4">Rugby</h1>
</div>
{% block sport_carousel_rugby %}
<div id="sport-carousel-rugby" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="image-container">
        <img src="/static/images/rugby.jpg" alt="Rugby 1" class="d-block w-100 carousel-img">
      </div>
    </div>
    <div class="carousel-item">
      <div class="image-container">
        <img src="/static/images/rugby2.jpg" alt="Rugby 2" class="d-block w-100 carousel-img">
      </div>
    </div>
    <div class="carousel-item">
      <div class="image-container">
        <img src="/static/images/wilko.jpg" alt="Rugby 3" class="d-block w-100 carousel-img">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#sport-carousel-rugby" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#sport-carousel-rugby" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}
<div class="post-text">
  <p>Engage with other fans, add a post below.</p>
</div>
<form method="POST" class="post-form">
  <div class="post-inputs">
      <textarea name="post" id="post" class="form-control post-textarea" placeholder="Add a post..."></textarea>
      <button type="submit" class="my-form-button">Add Post</button>
  </div>
  <input type="hidden" name="sport" value="rugby">
</form>
<ul class="list-group" id="posts">
  {% for post in posts %}
  <li id="post-{{post.id}}" class="list-group-item post-item" data-postDate="{{ post.date.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
    <div class="post-header">
        <span class="post-username">{{ post.user.username }}</span>
    </div>
    <div class="post-content">
        {{ post.data }}
    </div>
    <div class="post-time" data-postdate="{{ post.date.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
    </div>
    <div class="post-actions">
      {% if post.user_id == current_user.id %}
      <button type="button" class="my-form-button" onclick="showEditPostForm('{{ post.id }}')">Edit</button>
      <button type="button" class="my-form-button" onclick="showConfirmDelete('{{ post.id }}')">Delete</button>
      {% endif %}
      <button type="button" class="my-form-button" onclick="toggleCommentForm('{{ post.id }}')">Comment</button>
    </div>
    <div id="edit-post-form-{{ post.id }}" class="edit-post-form hidden">
      <form onsubmit="event.preventDefault(); saveEditedPost('{{ post.id }}');">
          <div class="post-input-wrapper"> 
              <textarea name="text" class="post-edit-textarea">{{ post.data }}</textarea>
              <div class="post-form-buttons">
                  <button type="submit" class="my-form-button">Save</button>
                  <button type="button" class="my-form-button" onclick="hideEditPostForm('{{ post.id }}')">Cancel</button>
              </div>
          </div>
      </form>
  </div>
    {% if post.comments|length > 0 %}
    <div class="comments-section">
      <div class="comments-header">Comments</div>
      <ul class="list-group">
          {% for comment in post.comments %}
          <li class="list-group-item" id="comment-{{ comment.id }}" data-commentDate="{{ comment.date.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
              <div class="comment-header">
                  <span class="comment-username">{{ comment.user.username }}</span>
              </div>
              <div class="comment-content">
                  {{ comment.content }}
              </div>
              <div class="comment-time" data-commentdate="{{ comment.date.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
              </div>
              {% if comment.user == current_user %}
              <div class="comment-actions">
                      <button class="my-form-button" onclick="showCommentConfirmDelete('{{ comment.id }}')">Delete</button>
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    <div id="comment-form-{{ post.id }}" class="comment-form hidden" sport="rugby">
      <form method="POST" action="{{ url_for('views.add_comment', sport='rugby', post_id=post.id) }}">
        <textarea name="content" class ="comment-text-area" placeholder="Add a comment..."></textarea>
        <div class="comment-form-buttons">
          <button class="my-form-button" type="submit">Submit</button>
          <button type="button" class="my-form-button" onclick="toggleCommentForm('{{ post.id }}')">Cancel</button>
      </div>
      </form>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
