{% extends "base.html" %}

{% block title %}Rugby{% endblock %}

{% block content %}
<div class = "review-title">
  <h1 class="display-4">Rugby</h1>
  </div>
  
  <img class = "review-image" src="/static/images/rugby.jpg" alt="Rugby">
  
  
  <div class = "review-text">
    <p>Let other fans know what you're thinking, post a review on your chosen rugby memory below. </p>
  </div>
<form method="POST">
  <div class="row">
    <div class="col">
      <textarea name="review" id="review" class="form-control"></textarea>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Add Review</button>
    </div>
  </div>
  <input type="hidden" name="sport" value="rugby">
</form>

<ul class="list-group" id="reviews">
  {% for review in reviews %}
  <li class="list-group-item">
    {{ review.data }}
    
    <div class="review-actions">
        {% if review.user_id == current_user.id %}
            <button type="button" class="btn btn-primary" onclick="showEditReviewForm('{{ review.id }}')">Edit</button>
            <button type="button" class="btn btn-danger" onClick="deleteReview('{{ review.id }}')">Delete</button>
        {% endif %}
    </div>

    <small>Added by: {{ review.user.username }} on {{ review.date.strftime('%Y-%m-%d %H:%M:%S') }}</small>

    <div id="edit-review-form-{{ review.id }}" class="edit-review-form" style="display: none;">
        <form onsubmit="event.preventDefault(); saveEditedReview('{{ review.id }}');">
            <input type="text" name="text" value="{{ review.data }}">
            <button type="submit">Save</button>
        </form>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
