{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="title-text">
    <h1 class="page-title">Sign Up</h1>
    <p>What are you waiting for, sign up to Suport below!</p>
</div>

<div class="form-center">
    <form class="my-form" method="POST">
        <h1 class="form-title">Sup<i class="fa-regular fa-futbol"></i>rt</h1>
        <div class="text-field">
            <label for="email">Email:
                <input 
                    type="email" 
                    class="form-control" 
                    id="email" 
                    name="email"
                    placeholder="Your Email"
                    required
                >
            </label>
        </div>
        <div class="text-field">
            <label for="username">Username:
                <input
                    type="text" 
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Username"
                    required
                >
            </label>
        </div>
        <div class="text-field">
            <label for="password1">Password:
                <input
                    type="password"
                    class="form-control"
                    id="password1" 
                    name="password1"
                    placeholder="Password"
                    required
                >
            </label>
        </div>
        <div class="text-field">
            <label for="password2">Re-enter Password:
                <input
                    type="password"
                    class="form-control"
                    id="password2" 
                    name="password2"
                    placeholder="Re-enter Password"
                    required
                >
            </label>
        </div>
        <div class="text-field">
            <label for="favourite_team">favourite Team:
                <input
                    type="text"
                    class="form-control"
                    id="favourite_team"
                    name="favourite_team"
                    placeholder="favourite Team"
                    required
                >
            </label>
        </div>
        <div class="text-field">
            <label for="favourite_sport">favourite Sport:
                <input
                    type="text"
                    class="form-control"
                    id="favourite_sport"
                    name="favourite_sport"
                    placeholder="favourite Sport"
                    required
                >
            </label>
        </div>

        <button type="submit" class="my-form-button">Submit</button>

        <div class="my-form-actions">
            <a href="/login" title="Login">Already have an account?</a>
        </div>
    </form>
</div>

{% endblock %}
