{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="container">

  <form method="POST">

    <h3>Sign Up</h3>

    <div class="row">
      <div class="col">
        <div class="form-floating">
          <input 
            type="email"
            class="form-control" 
            id="email" 
            name="email"
            placeholder="Email">
          <label for="email">Email Address</label>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-floating">
          <input
            type="text" 
            class="form-control"
            id="username"
            name="username"
            placeholder=" Username">
          <label for="username">Username</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-floating">
          <input
            type="password"
            class="form-control" 
            id="password1"
            name="password1"
            placeholder="Password">
          <label for="password1">Password</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="password2" 
            name="password2"
            placeholder="Re-enter Password">
          <label for="password2">Re-enter Password</label>
        </div>
      </div>
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>
  
</div>

{% endblock %}