:root {
    --background: #3C343D;
    --primary: navy;
    --secondary: #1D1D1D;
    --primary-color: white;
    --secondary-color: #2C2C2C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    color: var(--primary-color);
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.background {
    display: grid;
    place-items: center;
    width: 100%;
}

/*---navbar---*/

.navbar .nav-link {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar .dropdown-menu .dropdown-item {
    font-size: 1.3rem; 
    color: var(--secondary-color)
}

.navbar-brand {
    font-size: 3rem;
}

/*---overview---*/

.sport-choice-text {
    font-weight:bold ;
    text-align: center;
    font-size: 24px;
}

.intro-text {
    justify-content: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.gallery {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    max-width: 800px;
}

.card {
    position: relative;
    left: 0px;
    width: 230px;
    border-radius: 16px;
    height: 560px;
    overflow: hidden;
    background-color: var(--background);
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    flex: 0.25;
}

.card:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary-color);
    color: var(--background);
    padding: 5px 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.card img {
    height: 560px;
}

.card:hover {
    flex: 2;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

.buttons {
    display: flex;
    gap: 100px;
    padding-top: 50px;
  }

  .sport-name {
    display: none;
}

/*---general---*/

h1, h3 {
    text-align: center;
    font-size: 60px;
}

.intro-text .fa-futbol, .navbar-brand .fa-futbol {
    font-size: 40px;
    font-style: normal;
}

.page-title, .title-text {
    justify-content: center;
    text-align: center;
}

.title-text {
    font-size: 2em;
}

/*---login-form---*/

.form-title {
    max-width:600px;
    color: var(--secondary-color);
}
.form-center {
    display: flex;
    margin-top: 50px;
    align-items: center
}

.my-form {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    max-width: 600px;
    padding: 48px 32px;
    height: fit-content;
    border-radius: 10px;
    margin: 0 auto;
}

.my-form-button {
    background-color: var(--primary);
    color: var(--primary-color);
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: .025em;
    cursor: pointer;
    font-weight: 800;
    min-height: 50px;
    max-width: 200px;
    border-radius: 8px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    text-decoration: none;
    padding: 10px 15px;
}

.my-form-button:hover {
    background-color: var(--primary-color);
    color: var(--primary);
}

.text-field input {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
    border: 1px solid var(--secondary);
    height: 50px;
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 4px;
}

.text-field label:focus-within  {
    color: var(--primary);
}

.text-field svg {
    position: absolute;
    right: -2px;
    bottom: -4px;
    width: 30px;
    height: 30px;
    transform: translate(-50%,-50%);
    transform-origin: center;
}

.text-field input:focus {
    border: 1px solid var(--primary);
}


.text-field input:focus + svg {
    stroke: var(--primary);
} 

.text-field label {
    color: var(--secondary);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .03rem;
    z-index: 10;
}

.text-field {
    max-width: 600px;
}

/*---post---*/

.post-title {
    padding: 20px;
}

#posts {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.post-image {
    display: block;
    margin: 20px auto;
    height: 284px;
    width: 426px;
    border-radius: 10px;
}

.post-text {
    text-align: center;
    padding: 20px;
}

#posts .list-group-item {
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

.post-actions, .comment-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px; 
}

.post-content {
    font-size: 26px; 
}

.comment-content {
    font-size: 20px; 
}

.post-username,
.comment-username {
    font-size: 24px;
    font-weight: bold;
}

.post-item {
    width: 50%; 
    margin: 0 auto;
}

.comments-section {
    width: 50%; 
    margin: 20px auto;
}

.comments-header {
    font-weight: bold;
    margin-bottom: 10px;
}

/*---profile---*/

.profile-content {
    text-align: center;
    justify-content: center;
}

.profile-button {
    display: block;
    margin: 0 auto; 
  }


/* CSS reset */

.footer-background {
    background-color: var(--secondary-color);
    display: grid;
    place-items: center;
}

.social-media-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
    list-style: none;
    padding: 20px;
}

.social-media-buttons li {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    cursor: pointer;
    display: grid;
    background-color: var(--primary);
    place-items: center;
    transition: all 0.3s;
    border: 1px solid var(--primary);
}

.social-media-buttons li a {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    color: var(--primary-colour);
}

.social-media-buttons li:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary);
    border-radius: 8px;
}

.social-media-buttons li a svg {
    height: 48px;
    width: 48px;
    stroke: var(--primary-color);
    stroke-width: 1.75;
    transition: 0.8s;
}

.social-media-buttons li:hover svg {
    stroke: var(--primary);
    transform: rotateY(360deg);
    stroke-width: 1.75;
}

/*--footer--*/

 footer {
   padding-top: 1.5em; 
   text-align: center;
   width: 100%;
   bottom: 0;
 }

 footer > a {
   padding: 0 15px;
   font-size: 2em; 
 }

 footer > p {
   font-size: 1.2em; 
   margin-top: 1em; 
 }

 @media (max-width: 991.98px) {
    .card {
        flex: 0 0 calc(33.33% - 6.67px);
        max-width: calc(33.33% - 6.67px);
        margin: 0;
        padding: 0; 
    }

    .gallery {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

    .card figure img {
        transform: scale(1)!important;
    }

    .sport-name {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0,0,0,0.6);
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
    }

    .tooltip {
        display: none;
    }
}

 @media (max-width: 450px) {
    .social-media-buttons {
        gap: 24px;
    }

    .post-image {
        width: 100%; 
        max-width: 300px;
        display: block; 
        margin: 0 auto; 
    }
}

