:root {
    --background: #3C343D;
    --primary: navy;
    --secondary: #1D1D1D;
    --primary-color: white;
    --secondary-color: #2C2C2C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    color: var(--primary-color);
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.background {
    display: grid;
    place-items: center;
    width: 100%;
}

/*---navbar---*/

.navbar .nav-link {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar .dropdown-menu .dropdown-item {
    font-size: 1.3rem; 
    color: var(--secondary-color)
}

.navbar-brand {
    font-size: 3rem;
}

/*---overview---*/

.sport-choice-text {
    font-weight:bold ;
    text-align: center;
    font-size: 24px;
}

.overview-title {
    word-break: break-word;
}

.intro-text {
    justify-content: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

/*---Inspired by atheros---*/

.gallery {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    max-width: 800px;
}

.card {
    position: relative;
    left: 0px;
    width: 230px;
    border-radius: 16px;
    height: 560px;
    overflow: hidden;
    background-color: var(--background);
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    flex: 0.25;
}

.card:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.card img {
    height: 560px;
}

.card:hover {
    flex: 2;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

/*---end of inspired by atheros---*/

.buttons {
    display: flex;
    gap: 100px;
    padding-top: 50px;
  }

  .sport-name {
    display: none;
}

/*---sports---*/

.carousel-control-prev-icon,
    .carousel-control-next-icon {
        font-size: 2rem;
        color: #fff;
    }

#overview-sports-carousel .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--primary-color);
    border-radius: 10px;
}

#overview-sports-carousel .carousel-inner {
    border-radius: 10px;
  }
  
  #overview-sports-carousel .carousel-item img {
    width: 100%;
    height: 500px; 
    object-fit: cover;
    border-radius: 10px;
  }
  
  #overview-sports-carousel .carousel-img {
    object-fit: cover;
    object-position: center;
    height: auto; 
  }
  
  .carousel-item img {
    width: 100%; 
    height: 870px;
    object-fit: cover;
    border-radius: 10px; 
  }

  .carousel-img {
    object-fit: cover;
    object-position: center;
    height: 100%;
  }
  
  .image-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
  }
  
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/*---general---*/

h1, h3 {
    text-align: center;
    font-size: 60px;
}

.intro-text .fa-futbol, .navbar-brand .fa-futbol {
    font-size: 40px;
    font-style: normal;
}

.page-title, .title-text {
    justify-content: center;
    text-align: center;
}

.title-text {
    font-size: 2em;
}

/*---login-form/sign-up---*/

#password-requirements {
    color: var(--secondary);
}

.form-title {
    max-width:600px;
    color: var(--secondary-color);
}
.form-center {
    display: flex;
    margin-top: 50px;
    align-items: center
}

.my-form {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    max-width: 600px;
    padding: 48px 32px;
    height: fit-content;
    border-radius: 10px;
    margin: 0 auto;
}

.my-form-button {
    background-color: var(--primary);
    color: var(--primary-color);
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: .025em;
    cursor: pointer;
    font-weight: 800;
    min-height: 50px;
    max-width: 200px;
    border-radius: 8px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    text-decoration: none;
    padding: 10px 15px;
}

.my-form-button:hover {
    background-color: var(--primary-color);
    color: var(--primary);
}

.text-field input {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
    border: 1px solid var(--secondary);
    height: 50px;
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 4px;
}

.text-field label:focus-within  {
    color: var(--primary);
}

.text-field input:focus {
    border: 1px solid var(--primary);
}

.text-field label {
    color: var(--secondary);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .03rem;
    z-index: 10;
}

.text-field {
    max-width: 600px;
}

/*---post---*/

.hidden {
    display: none;
}

.post-textarea, .post-edit-textarea, .comment-text-area {
    font-size: 26px;
}

.post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.post-textarea {
    width: 100%;
    height: 150px;
    resize: none;
    margin-bottom: 15px;
}

.post-title {
    padding: 20px;
}

#posts {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.post-image {
    display: block;
    margin: 20px auto;
    height: 284px;
    width: 426px;
    border-radius: 10px;
}

.post-text {
    text-align: center;
    padding: 20px;
    font-size: 32px;
}

#posts .list-group-item {
    margin: 10px;
}

form {
    margin-bottom: 20px;
}

.post-actions, .comment-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.post-content {
    font-size: 26px;
    max-width: 100%;
    overflow: hidden;
    white-space: normal;
    overflow-wrap: break-word;
}

.post-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.post-edit-textarea {
    width: 90%; 
    max-width: 600px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--secondary);
}

.comment-content {
    font-size: 20px; 
}

.post-username,
.comment-username {
    font-size: 24px;
    font-weight: bold;
}

.post-item {
    width: 100%; 
    margin: 0 auto;
}

.comments-section {
    width: 100%; 
    margin: 10px auto;
}

.comments-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.comment-form {
    padding: 10px 0;
}

.comment-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.comment-form textarea {
    padding: 10px;
    margin: 10px 0;
    width: 90%;
}

.comment-form button {
    margin: 5px;
}

.post-form-buttons, .comment-form-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px;
}

.modal-body {
    color: var(--secondary);
}

.modal-title {
    color: var(--secondary);
}

.my-form-actions a {
    color: var(--primary);
}

/*---profile---*/

.profile-bio, .profile-fav-sport, .profile-posts, .profile-fav-team, .profile-comments {
    padding: 10px;
    margin: 10px;
    word-break: break-word;
}

.profile-info, .user-content {
    display: block;
    width: calc(50% - 20px);
}

.profile-content-body, .profile-info-body {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--primary);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.profile-post-item, .profile-comment-item {
    border: 3px solid var(--primary);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    word-break: break-word;
  }

.profile-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
}

.profile-button {
    display: block;
    margin: 0 auto; 
  }

  .profile-posts ul, 
.profile-comments ul {
    list-style-type: none;
    padding-left: 0;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.edit-field {
    margin: 10px;
}

.edit-field-buttons {
    display: flex;
    gap: 20px;
    margin: 10px;
}

.edit-bio-field {
    width: 100%; 
    height: 120px; 
}

/*---other-users---*/

.page-title {
    padding: 20px;
}

.user-card {
    background-color: var(--primary-color);
    color: var(--primary);
    border-radius: 10px;
}

.user-info {
    text-align: center;
    padding: 10px;
}

.user-icon {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 5rem;
    padding: 10px;
  }

/*---socials-footer---*/
/*---Atheros code inspired by atheros---*/

.footer-background {
    background-color: var(--secondary-color);
    display: grid;
    place-items: center;
}

.social-media-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
    list-style: none;
    padding: 20px;
}

.social-media-buttons li {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    cursor: pointer;
    display: grid;
    background-color: var(--primary);
    place-items: center;
    transition: all 0.3s;
    border: 1px solid var(--primary);
}

.social-media-buttons li a {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    color: var(--primary-colour);
}

.social-media-buttons li:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary);
    border-radius: 8px;
}

.social-media-buttons li a svg {
    height: 48px;
    width: 48px;
    stroke: var(--primary-color);
    stroke-width: 1.75;
    transition: 0.8s;
}

.social-media-buttons li:hover svg {
    stroke: var(--primary);
    transform: rotateY(360deg);
    stroke-width: 1.75;
}

/*---end of Atheros code inspired by atheros---*/

/*--footer--*/

 footer {
   padding-top: 1.5em; 
   text-align: center;
   width: 100%;
   bottom: 0;
 }

 footer > a {
   padding: 0 15px;
   font-size: 2em; 
 }

 footer > p {
   font-size: 1.2em; 
   margin-top: 1em; 
 }

 @media (min-width: 1200px) {
    .profile-content-body {
        flex-direction: row;
        justify-content: space-between;
        display: flex;
    }
    
    .profile-posts,
    .profile-comments {
        width: 48%;
        max-width: 600px;
    }
}

 @media (max-width: 991.98px) {
    .carousel-img {
        height: auto;
        max-width: 100%;
      }

    .card {
        flex: 0 0 calc(33.33% - 6.67px);
        max-width: calc(33.33% - 6.67px);
        margin: 0;
        padding: 0; 
    }

    .gallery {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

    .card figure img {
        transform: scale(1)!important;
    }

    .sport-name {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0,0,0,0.6);
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
    }

    .tooltip {
        display: none;
    }

    .gallery {
        display: none;
    }
}

@media (max-width: 768px) {
    .profile-info, .user-content {
        width: 100%;
        margin: 10px 0;
    }

    .profile-content {
        flex-direction: column; 
    }

    .post-actions, .comment-actions {
        flex-wrap: wrap; 
        justify-content: center; 
    }

    .post-actions button, .comment-actions button {
        flex-basis: calc(33.33% - 10px);
        max-width: calc(33.33% - 10px);
        font-size: 12px;
        padding: 10px 20px;
    }
}

 @media (max-width: 450px) {
    .social-media-buttons {
        gap: 24px;
    }

    .post-image {
        width: 100%; 
        max-width: 300px;
        display: block; 
        margin: 0 auto; 
    }

    .comment-text-area {
        font-size: 16px;
    }
    
}

